body {

  }

  main {

    display: flex !important;
    flex-direction: column;
    min-height: 100vh !important;
  }
  .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

